@font-face {
  font-family: "SpecialGothic";
  src: url("/fonts/specialgothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpecialGothic", sans-serif;
}
